<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group HomeUpdate">
	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="vp_1512 size_1512 viewport_3c4d908dab6e wp-block-group yotako-main ytk-apply-zoom">
		<!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#0f7178","background":"transparent"}},"align":"left"} -->
		<h3 class="text_272b3c701b83 has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#0f7178;background-color:transparent;">
			Recent</h3>
		<!-- /wp:heading -->
		<!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#0f7178","background":"transparent"}},"align":"left"} -->
		<h3 class="text_163b648776d2 has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#0f7178;background-color:transparent;">
			All Files</h3>
		<!-- /wp:heading -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
		<p class="text_c6a1c13c704e has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			2025_Benefits_Info</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"right"} -->
		<p class="text_1b0ce230d40e has-text-color has-background has-text-align-right"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			03-05-25</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"right"} -->
		<p class="text_23f993f14db2 has-text-color has-background has-text-align-right"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			03-05-25</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"right"} -->
		<p class="text_7d58e7174411 has-text-color has-background has-text-align-right"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			03-05-25</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"right"} -->
		<p class="text_bbb057b6ca6e has-text-color has-background has-text-align-right"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			06-17-23</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"right"} -->
		<p class="text_7ebb4d52b63c has-text-color has-background has-text-align-right"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			06-17-23</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
		<p class="text_7f27ecf13b0d has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			Corp Calendar</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
		<p class="text_771d78791ad5 has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			Employee Handbook</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
		<p class="text_a4fb33ff0c72 has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			Policies & Procedures (SOP’s)</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
		<p class="text_faa9c6eae220 has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
			Brand Guidelines</p>
		<!-- /wp:paragraph -->
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group container_65c0a98b2e62">

			<!-- wp:spacer {"height":"0px"} -->
			<div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group container_e92b87011f7d">

			<!-- wp:spacer {"height":"0px"} -->
			<div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group container_e20dcb070b82">

			<!-- wp:spacer {"height":"0px"} -->
			<div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group container_cf451d9b9c15">

			<!-- wp:spacer {"height":"0px"} -->
			<div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
		<!-- wp:image -->

		<figure class="imageview_57040381fe43  wp-block-image">
			<img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:364.svg" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:image -->

		<figure class="imageview_698633277613  wp-block-image">
			<img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:365.svg" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:image -->

		<figure class="imageview_bcbd378b660d  wp-block-image">
			<img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:366.svg" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:image -->

		<figure class="imageview_acfa92805dac  wp-block-image">
			<img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:368.svg" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:image -->

		<figure class="imageview_2e50f817c0eb  wp-block-image">
            <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:369.svg" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:image -->

		<figure class="imageview_56b8f7644af4  wp-block-image">
            <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:370.svg" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:image -->

		<figure class="imageview_cf9cae484a9c  wp-block-image">
			<img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:371.svg" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:image -->

		<figure class="imageview_3c84f53f09ea  wp-block-image">
            <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:372.svg" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group container_f21139258702">

			<!-- wp:spacer {"height":"0px"} -->
			<div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#cac8c8","background":"transparent"}},"align":"left"} -->
		<p class="text_38a0256976ca has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#cac8c8;background-color:transparent;">
			Name</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#cac8c8","background":"transparent"}},"align":"right"} -->
		<p class="text_7274c095ee8c has-text-color has-background has-text-align-right"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#cac8c8;background-color:transparent;">
			Date Uploaded</p>
		<!-- /wp:paragraph -->
		<!-- wp:image -->

		<figure class="imageview_2f06bdba755f  wp-block-image">
			<img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:379.webp" />
		</figure>

		<!-- /wp:image -->
		<!-- wp:pattern {"slug":"yotako/input_text_9eba9096a32d"} /-->
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group container_dc1ea44da108">
			<!-- wp:group {"layout":{"type":"default"}} -->
			<div class="wp-block-group container_a3bf06bf958b">

				<!-- wp:spacer {"height":"0px"} -->
				<div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
				<!-- /wp:spacer -->
			</div>
			<!-- /wp:group -->
			<!-- wp:image -->

			<figure class="imageview_253ffa6033dd  wp-block-image">
                <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:286.svg" />
			</figure>

			<!-- /wp:image -->
		</div>
		<!-- /wp:group -->
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group container_ca7de04477c7">
			<!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"left"} -->
			<h3 class="text_1b5d9e2cc89f has-text-color has-background has-text-align-left"
                style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
				Documents</h3>
			<!-- /wp:heading -->
			<!-- wp:image -->

			<figure class="imageview_d2678b9703d1  wp-block-image">
                <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/8:3234.webp" />
			</figure>

			<!-- /wp:image -->
		</div>
		<!-- /wp:group -->
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group container_c34a5fee6cd2">
			<!-- wp:yotako-block/anchor {"linkTo":"News","target":"_self","linkClassName":""} -->
			<div class="wp-block-yotako-block-anchor "><a href="News" target="_self" rel="noopener">
				<!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"left"} -->
				<h3 class="text_5423b3ec9448 has-text-color has-background has-text-align-left"
                        style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
					Newsletter</h3>
				<!-- /wp:heading -->
				</a></div><!-- /wp:yotako-block/anchor -->
			<!-- wp:image -->

			<figure class="imageview_fb24fdf263b8  wp-block-image">
                <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/8:3237.webp" />
			</figure>

			<!-- /wp:image -->
		</div>
		<!-- /wp:group -->
		<!-- wp:yotako-block/anchor {"linkTo":"Links","target":"_self","linkClassName":"yt-full-width"} -->
		<div class="wp-block-yotako-block-anchor container_2611e7152e60"><a href="Links" class="yt-full-width"
                target="_self" rel="noopener">
			<!-- wp:group {"layout":{"type":"default"}} -->
			<div class="wp-block-group ">
				<!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"left"} -->
				<h3 class="text_1af46cac15e1 has-text-color has-background has-text-align-left"
                        style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
					Links</h3>
				<!-- /wp:heading -->
				<!-- wp:image -->

				<figure class="imageview_4af617f224a4  wp-block-image">
					<img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/8:3243.webp" />
				</figure>

				<!-- /wp:image -->
			</div>
			<!-- /wp:group -->
			</a></div><!-- /wp:yotako-block/anchor --> <!-- wp:yotako-block/form {"formName":"form_adfe099c117c"} -->
		<form class="wp-block-yotako-block-form" id="form_adfe099c117c" onsubmit="return form_adfe099c117c(event)">
		</form>
		<!-- /wp:yotako-block/form -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->