<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group Links">
  <!-- wp:group {"layout":{"type":"default"}} -->
  <div class="vp_1512 size_1512 viewport_8adf0b6d8ced wp-block-group yotako-main ytk-apply-zoom">
    <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
    <p class="text_dce81208dd37 has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">HRDC Website: http://www.example.com </p>
    <!-- /wp:paragraph -->
    <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
    <p class="text_e1bc0010b8b7 has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">Management page: http://www.example.com</p>
    <!-- /wp:paragraph -->
    <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
    <p class="text_4747784aa9f4 has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">Amenity shop: http://www.example.com</p>
    <!-- /wp:paragraph -->
    <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
    <p class="text_8e1d01282512 has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">Onboarding page: http://www.example.com</p>
    <!-- /wp:paragraph -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_568105a9a0e4">

      <!-- wp:spacer {"height":"0px"} -->
      <div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_e86416fc68a7">

      <!-- wp:spacer {"height":"0px"} -->
      <div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_106c3e0978c5">

      <!-- wp:spacer {"height":"0px"} -->
      <div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_86cc8c513dbe">

      <!-- wp:spacer {"height":"0px"} -->
      <div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
      <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
    <!-- wp:image -->

    <figure class="imageview_3ab39285b87e  wp-block-image">
      <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:746.svg" />
    </figure>

    <!-- /wp:image -->
    <!-- wp:image -->

    <figure class="imageview_fa30391ede4d  wp-block-image">
      <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:747.svg" />
    </figure>

    <!-- /wp:image -->
    <!-- wp:image -->

    <figure class="imageview_7535b809a7be  wp-block-image">
      <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:748.svg" />
    </figure>

    <!-- /wp:image -->
    <!-- wp:image -->

    <figure class="imageview_9b27b744795f  wp-block-image">
      <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:749.svg" />
    </figure>

    <!-- /wp:image -->
    <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#0f7178","background":"transparent"}},"align":"left"} -->
    <h3 class="text_6db23f8d4294 has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#0f7178;background-color:transparent;">Recent</h3>
    <!-- /wp:heading -->
    <!-- wp:image -->

    <figure class="imageview_6887bfbf7f00  wp-block-image">
      <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/1:661.svg" />
    </figure>

    <!-- /wp:image -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_edd524ec67f0">
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_7899f6e403ae">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_8dace17e53d9">

          <!-- wp:spacer {"height":"0px"} -->
          <div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
          <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->
        <!-- wp:heading {"level":2,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"31.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#cac8c8","background":"transparent"}},"align":"left"} -->
        <h2 class="text_bbd1b47e2dd1 has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:31.5px;font-weight:400;letter-spacing:-0.5px;color:#cac8c8;background-color:transparent;">Search</h2>
        <!-- /wp:heading -->
        <!-- wp:image -->

        <figure class="imageview_a4c4e2bcc14e  wp-block-image">
          <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/8:3426.webp" />
        </figure>

        <!-- /wp:image -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_8883de8582a2">
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_8684462bfdb3">

        <!-- wp:spacer {"height":"0px"} -->
        <div class="wp-block-spacer" style="height:0px" aria-hidden="true"></div>
        <!-- /wp:spacer -->
      </div>
      <!-- /wp:group -->
      <!-- wp:image -->

      <figure class="imageview_7e3440300f8a  wp-block-image">
        <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/8:3366.svg" />
      </figure>

      <!-- /wp:image -->
    </div>
    <!-- /wp:group -->
    <!-- wp:yotako-block/anchor {"linkTo":"HomeUpdate","target":"_self","linkClassName":""} -->
    <div class="wp-block-yotako-block-anchor "><a href="HomeUpdate" target="_self" rel="noopener">
        <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"left"} -->
        <h3 class="text_6d0c993e2660 has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">Documents</h3>
        <!-- /wp:heading -->
      </a></div><!-- /wp:yotako-block/anchor -->
    <!-- wp:image -->

    <figure class="imageview_367c022af9b5  wp-block-image">
      <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/8:3405.webp" />
    </figure>

    <!-- /wp:image -->
    <!-- wp:yotako-block/anchor {"linkTo":"News","target":"_self","linkClassName":"yt-full-width"} -->
    <div class="wp-block-yotako-block-anchor container_6915127a7981"><a href="News" class="yt-full-width" target="_self" rel="noopener">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group ">
          <!-- wp:image -->

          <figure class="imageview_f84913ca6e1b  wp-block-image">
            <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/8:3408.webp" />
          </figure>

          <!-- /wp:image -->
          <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"left"} -->
          <h3 class="text_f83e2b0b1a4f has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">Newsletter</h3>
          <!-- /wp:heading -->
        </div>
        <!-- /wp:group -->
      </a></div><!-- /wp:yotako-block/anchor -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_4e93673e8224">
      <!-- wp:image -->

      <figure class="imageview_b5714ededa3a  wp-block-image">
        <img src="https://cdn.yotako.io/a95fc331-ade7-42b3-b0d5-91eff59013df/8:3411.webp" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"left"} -->
      <h3 class="text_38f2009cc289 has-text-color has-background has-text-align-left" style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">Links</h3>
      <!-- /wp:heading -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->